esp32:
  board: esp32dev
  framework:
    type: arduino

display:
  - platform: mipi_spi
    spi_id: tft
    model: ESP32-2432S028
    auto_clear_enabled: false
    update_interval: never
    rotation: 180

spi:
  - id: tft
    clk_pin: GPIO14
    mosi_pin: GPIO13
    miso_pin: GPIO12
  - id: touch
    clk_pin: GPIO25
    mosi_pin: GPIO32
    miso_pin: GPIO39

touchscreen:
  platform: xpt2046
  spi_id: touch
  cs_pin: GPIO33
  calibration:
    x_min: 235
    x_max: 3850
    y_min: 190
    y_max: 3700
  transform:
    mirror_x: true
  on_touch:
    - if:
        condition: 
          or:
            - lvgl.page.is_showing: page_screensaver
            - lvgl.is_idle: 
                timeout: $idle_timeout
            - lvgl.is_paused
            - light.is_off: light_backlight
        then:
          - logger.log: "Resuming from Idle"
          - light.turn_on: light_backlight
          - lvgl.resume
          - lvgl.page.show: page_main
          - lvgl.widget.redraw

output:
  - platform: ledc
    pin: GPIO21
    id: light_backlight_output

light:
  - platform: monochromatic
    id: light_backlight
    name: Display Backlight
    output: light_backlight_output
    restore_mode: ALWAYS_ON